* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #efeded;
}

.avatar {

    background-color: #fff;

    & .avatar-img{
        border-radius:100%; 
        width:2rem; 
        height:2rem;
        background-color: #fff;
    }

    & .avatar-labels {
        
        display: flex;
        flex-direction:  column;
        background-color: #fff;

    }

    & .avatar-name{
       font-size: 14px;
       margin: 0;
       margin-left: 0.5rem;
       background-color: #fff;
    }

    & .avatar-date{
        font-size: 12px;
        margin: 0;
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
        background-color: #fff;
     }
}

.card-container {
    margin: 2rem;
    background-color: #fff;
    
}

.card-bag {
    background-color: #fff;
    margin-left: 2rem;
}

.card-title {
    font-size: 30px;
    background-color: #fff;
}

.card-text {
    background-color: #fff;

    & a {

        text-decoration: none;
        

    }
}

.card-body {
    background-color: #fff;
}

.card-end {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #fff;

    & a {

        text-decoration: none;

    }

    

    & span {
        font-size: 14px;
    }

    & p {
        display: inline-block;
        font-size: 12px;
    }

    & a .btn{
        background-color: #d6d6d7;
    }
}